@charset "UTF-8";
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: 0px;
  font-family: 'Roboto', sans-serif;
}

#page {
  width: 425px;
}

#logo {
  text-align: center;
  padding-top: 20px;
}

.ohmyfood {
  width: 40%;
}

#localisation {
  margin-top: 10px;
  background-color: #eaeaea;
  height: 60px;
  -webkit-box-shadow: 0px 4px 5px #cfcfcf inset;
          box-shadow: 0px 4px 5px #cfcfcf inset;
  text-align: center;
}

#localisation input {
  border: 0px;
  background-color: #eaeaea;
}

#localisation #search {
  padding-top: 15px;
}

#localisation label {
  padding-left: 60px;
  font-size: 17px;
}

#localisation #text {
  font-weight: bold;
  font-size: 17px;
}

#Description {
  background-color: #f6f6f6;
  margin-top: -30px;
  height: 300px;
}

#Description h2 {
  font-weight: bold;
  padding: 30px 50px 0px 50px;
  font-size: 30px;
  text-align: center;
}

#Description p {
  padding: 0px 10px 10px 10px;
  font-size: 20px;
  text-align: center;
}

#bouton {
  text-align: center;
  width: 240px;
  height: 35px;
  padding-top: 15px;
  margin-left: 90px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px 30px 30px 30px;
}

#bouton a {
  text-decoration: none;
  color: white;
  font-size: 19px;
}

h1 {
  margin-left: 20px;
}

#etape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

#etape #numéros {
  z-index: 1;
  padding-top: 10px;
}

#etape #numéros p {
  background-color: #9356DC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 17px;
  padding-top: 5px;
  margin-left: 15px;
  text-align: center;
  z-index: 1;
  color: white;
}

#etape #texte {
  background-color: #f6f6f6;
  width: 370px;
  height: 70px;
  border-radius: 20px 20px 20px 20px;
  padding-top: 10px;
  font-size: 20px;
  -webkit-box-shadow: 2px 2px 10px #cfcfcf;
          box-shadow: 2px 2px 10px #cfcfcf;
  margin-left: -10px;
}

#etape #texte i {
  padding-right: 30px;
  padding-left: 40px;
  font-size: 22px;
  color: #7e7e7e;
}

#restaurant {
  background-color: #f6f6f6;
  margin-top: 60px;
  padding-top: 1px;
  padding-bottom: 50px;
}

#restaurant h2 {
  padding-left: 20px;
  margin-bottom: -40px;
}

#restaurant #menu p {
  position: relative;
  text-align: justify;
  background-color: white;
  width: 380px;
  height: 290px;
  border-radius: 25px;
  margin-left: 20px;
}

#restaurant #menu img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 220px;
  border-radius: 15px 15px 0px 0px;
}

#restaurant a {
  text-decoration: none;
  color: black;
}

.nouveau {
  background-color: #99e2d0;
  position: absolute;
  text-align: center;
  width: 80px;
  height: 25px;
  padding-top: 5px;
  top: 20px;
  left: 280px;
  border-radius: 5px;
  color: #008766;
}

.nom {
  position: absolute;
  font-weight: bold;
  padding-left: 15px;
  top: 235px;
  font-size: 17px;
}

.lieu {
  position: absolute;
  padding-left: 15px;
  top: 255px;
  font-size: 17px;
}

.coeur_vide {
  font-size: 22px;
  padding-left: 330px;
}

.coeur_rempli {
  font-size: 22px;
  padding-left: 330px;
}

footer {
  background-color: #353535;
  color: white;
  height: 200px;
}

footer #texte_footer {
  padding-left: 20px;
  line-height: 9px;
  font-size: 17px;
}

footer i {
  padding-right: 7px;
}

.i1 {
  padding-right: 8px;
}

.logo_blanc {
  width: 30%;
  padding-left: 20px;
  padding-top: 20px;
}

#logo_petit {
  margin-top: -10px;
  padding-top: 5px;
}

#logo_petit i {
  font-size: 30px;
  padding-left: 30px;
  color: #353535;
}

#logo_petit img {
  width: 40%;
  padding-left: 70px;
}

#restaurant_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
  position: relative;
}

#bloc_menu {
  background-color: #f6f6f6;
  margin-top: -55px;
  padding-left: 15px;
  border-radius: 30px 30px 0px 0px;
  position: relative;
}

#bloc_menu #en-tête {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

#bloc_menu #en-tête p {
  font-family: 'Shrikhand';
  font-size: 31px;
  padding-left: 10px;
}

#bloc_menu #en-tête i {
  font-size: 28px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 35px;
}

#catégorie p {
  margin-top: -15px;
  padding-top: 30px;
  font-size: 20px;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  height: 30px;
}

#nourriture p {
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px gray;
          box-shadow: 0px 0px 15px gray;
  width: 95%;
  height: 70px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ligne1 {
  font-weight: bold;
  font-size: 21px;
  padding-left: 15px;
  padding-top: 10px;
}

.ligne2 {
  font-size: 16px;
  padding-left: 15px;
  padding-top: 5px;
  overflow: hidden;
}

.prix {
  font-weight: bold;
  font-size: 17px;
  text-align: end;
  margin-top: -22px;
  padding-right: 25px;
}

#bouton_menu {
  background-color: #f6f6f6;
  margin-top: -20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

#bouton_menu a {
  text-decoration: none;
  color: white;
  font-size: 19px;
}

#btn_commander {
  text-align: center;
  width: 240px;
  height: 35px;
  padding-top: 15px;
  margin-left: 90px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px 30px 30px 30px;
  -webkit-box-shadow: 1px 1px 10px gray;
          box-shadow: 1px 1px 10px gray;
}
/*# sourceMappingURL=style.css.map */